<ion-header>
  <ion-toolbar>
    <ion-title >Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="card">
    <ion-card-header style="color: black;">
      <ion-title style="text-align: center;">Datos del usuario</ion-title>
    </ion-card-header>
    <ion-card-content >
      <form (ngSubmit)="singup()">
        <ion-list>
          <ion-item >
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Usuario: </ion-label>
            <ion-input type="text" value="{{ username }}" (change)="user($event)"></ion-input>
          </ion-item>
          <ion-item >
            <ion-icon name="key-outline"></ion-icon>
            <ion-label>Contraseña: </ion-label>
            <ion-input type="Password" value="{{ password }}" (change)="pass($event)"></ion-input>
          </ion-item>
        </ion-list>
        <div padding>
          <ion-button block color="medium" style="font: b;" type="submit">entrar</ion-button>
        </div>
      </form>
      <div style="color: red;" *ngIf="erro" class="notification is-danger">
        {{error}}
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>