<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col style="text-align: start;">
        <ion-icon style="font-size: 50px;" name="logo-ionic"></ion-icon>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-title>
          <h1>
            NutMar
          </h1>
        </ion-title>
      </ion-col>
      <ion-col style="text-align: end;">
        <ion-button shape="round" fill="outline" color="success">Inicio de sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="align-items: center;">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <h1>Imagen 1</h1>
      </ion-slide>
      <ion-slide>
        <img style="width: 25%; height: 25%;" src="../../assets/NWL5VBI4A5FKHDK7ML3QYDCH7U.jpg">
      </ion-slide>
      <ion-slide>
        <img style="width: 25%; height: 25%;" src="../../assets/Kamado.Nezuko.full.2590316.jpg">
      </ion-slide>
      <ion-slide>
        <img style="width: 25%; height: 25%;" src="../../assets/1011679.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-card style="align-items: center; color: black;">
            <h1>Horario de atención:</h1>
            <p>{{ diaInicio }} a {{ diaFin }} de {{ horaInicio }} a {{ horaFin }} </p>
            <p>{{ finInicio }} a {{ finFin }} de {{ horaInicio }} a {{ horaFin }} </p>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="align-items: center; color: black;">
            <h1>Imagen 1</h1>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="align-items: center; color: black;">
        <p>NutMar es una empresa dedicada al cuidado de la salud nutricional,
          aqui podras obtener ayuda profecional si es que deceas bajar de peso o mantener una buena nutricion</p>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
<footer>
  <p>¡Contactanos!</p>
  <ion-icon style="font-size: 25px;" name="logo-facebook"></ion-icon>
  <ion-icon style="font-size: 25px;" name="logo-google"></ion-icon>
  <ion-icon style="font-size: 25px;" name="logo-instagram"></ion-icon>
  <ion-icon style="font-size: 25px;" name="logo-tumblr"></ion-icon>
  <ion-icon style="font-size: 25px;" name="logo-twitter"></ion-icon>
  <ion-icon style="font-size: 25px;" name="logo-whatsapp"></ion-icon>
  <ion-icon style="font-size: 25px;" name="logo-google-playstore"></ion-icon>
</footer>
